.container-fluid{
   
   background-color:#fff;
   margin-top:3px;
   margin: 20px;
   
} 


.container-fluid{
   background-color:#D3D3D3;
    border-radius: 16px;
    font-size: 18px;
    padding: 25px 0;
    margin-left: 89px;
   
    
    
    
   
}
