.container-fluid{
   
   background-color:#fff;
   margin-top:3px;
   margin: 20px;
   
} 


.container-fluid{
   background-color: gray;
    border-radius: 16px;
    width: 45%;
    height: 30%;
    color: #000;
    font-size: 18px;
    padding: 25px 0;
    margin-left: 89px;
   
    
    
    
   
}
